RewriteEngine on
RewriteRule ^categories/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^category/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^contact/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^home/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^login/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^machine/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests
RewriteRule ^registreren/([0-9]+)/?$ /public/index.php?category_id=$1    [NC,L]    # Handle category requests

# Rewrite all the default paths to public e.g. /css/style.css -> /public/css/style.css
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]

# Rewrite all the files to index.php /random -> /public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/index.php [NC,L,QSA]

